@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(image/image-1.png);
    background-color: rgba();
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    transition: background-image 1s;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 32px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}
nav .btn{
    color: rgb(34, 31, 31);
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 7%;
}
.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: rgb(34, 31, 31);
    position: fixed;
    bottom: 50px;
    left: 0;
}

.info div {
    margin: 0 20px;
}

.info p h2 {
    font-size: 44px;
    font-weight: 400;
}

.info .line{
    flex: 1;
    background: rgb(252, 252, 252);
    height: 4px;
}
h2{
    font-size: 44px
}

.models {
    font-size: 25px;
}

.logo{
    width: 300px;
    padding: 30px;
}

li{
    transition: 1s;
}

li:hover {
    font-size:29px
}

@media (max-width: 1200px) {
    .models {
        font-size: 20px;
    }

    .logo {
        width: 200px;
    }

    nav .btn {
        padding: 5px 15px;
        margin-right: 4%;
    }

    h2 {
        font-size: 1.4em;
    }

    li[disabled]:hover {
        font-size: 20px;
    }
}

@media (max-width: 861px) {
    .models {
        font-size: 20px;
    }

    .logo {
        width: 150px;
    }

    nav .btn {
        display: none;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 700px) {
    .models {
        font-size: 20px;
    }

    .logo {
        width: 150px;
    }

    nav .btn {
        display: none;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 550px) {
    .models {
        font-size: 15px;
    }

    .logo {
        width: 120px;
    }


    h2 {
        font-size: 1em;
    }
}